.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 16px;
    width: auto;

    &::-webkit-scrollbar {
        display: none; 
    }

    > * {
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: border-box;
        justify-content: flex-start;
    }
}