.card {
    display: flex;
    overflow: hidden;
    cursor: pointer;
  
    .imageContainer {
      flex: 0 0 100px;
      width: 100%;
      .image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .name{
      flex: 0 0 100px;
      width: 100%;
    }
  }