.card {
    display: flex;
    cursor: pointer;
  
    .imageContainer {
      display: flex;
      padding: 4px;
      &.gradientActive{
        justify-content: center;
        align-items: center;
        background: conic-gradient(
        #d6249f,
        #feda75,
        #fa7e1e,
        #d6249f
        );
        border-radius: 50%;
      }
      .image {
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        flex: 0 0 85px;
        height: 85px;
      }
    }
    .name{
      flex: 0 0 80px;
      width: 100%;
      font-weight: bold;
      padding-top: 5px;
    }
  }